
body {
    background-color: black; 
    height: 100%;
}

h1 {
 color: white; 
}

 .playback-container {
    text-align: center;
    align-content: center;
}

 .main-container {
    margin: 5%; 
}

 .pause {
    display: none;
}

.play, .pause {
    height: 70px;   
    width: 70px;
}

.card {
    width: 90%;
    background-color: black;
}
/*next and prev*/ 
  
   .next-prev:hover {
    border-color: #28a745;
    color: black;
  }

  .next-prev {
    height: 50px;   
    width: 50px;
    margin: 15px;
  }

  .previous {
    color: black;
    border-style: solid;
  }
  
  .next {
    color: black;
    border-style: solid;
    font-weight: bold;
  }
  
  .round {
    border-radius: 50%;
  }

  .table-dark {
      font-size: 1.5rem;
  }

  @media only screen and (max-width: 767px) {
    .remove-on-mobile {
      display: none; 
    }
  }