<!DOCTYPE html>
<html lang="en">

  <!-- Angular-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  
  <!--Bootstrap-->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <!--Spotify-->
  <script src="https://sdk.scdn.co/spotify-player.js"></script>
  
  <!--Local Resources-->
  <script src="./PlaylistMixer_ViewModel.js"></script>
  <script src="./PlaylistMixer_helper.js"></script>
  <script src="./PlaylistMixer_controller.js"></script>
  <script src="../WebServices.js"></script>
  <style src="./PlaylistMixer_styleSheet.css"></style>  
  
  <script src="./SampleData.js"></script>

  <head>

    <!--local--> 
    <link rel="stylesheet" href="PlaylistMixer_styleSheet.css">
    <!--Bootstrap-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spotify Playlist Mixer</title>
  </head>
  <body>
    <div ng-app="myApp" ng-controller="appController" class="main-container">
    <!-- main page body-->
      <div class="row" >
        <h1 class="header">Currently Playing</h1>
      </div>
      <div class="row" >
        <div class="playback-img">
          <img src="{{currentPlaybackDetails.data.item.album.images[2].url}}" />
        </div>
        <div class="playback-text">
          {{currentPlaybackDetails.data.item.name}} <br/>
          {{currentPlaybackDetails.data.item.artists[0].name}} <br/>
          Playing on: {{currentPlaybackDetails.data.device.name}}
        </div>

        
        
      </div>
      <div class="row playback-container">
        <button class='prev-button' ng-click="playPreviousTrack()" ></button>
        <button class='button'></button>
        <button class='next-button'></button>
        <!--<img src="ShuffleIcon.png" ng-click="shuffle()" class='shuffle next-prev'>
        <img src="PrevIcon.png" ng-click="playPreviousTrack()" id='prev' class='previous round next-prev'>
        <img src="PauseIcon.png" ng-click="togglePlayPause()" id='pause' class='pause'>
        <img src="PlayIcon.png" ng-click="togglePlayPause()" id='play' class='play'>
        <img src="NextIcon.png" ng-click="playNextTrack()" id='next' class='next round next-prev'>
          -->  
        <!--<button ng-click="getDeviceInfo()">getDeviceInfo</button>  --> 
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="accordion card">
          <div class="card-header">
            <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#column1">
              <h3 class="section-header">Your Saved Playlists</h3>
            </button>
          </div>
          <div class="collapse" id="column1">
          <table class="table table-hover table-dark">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Playlist Name</th>
                <th scope="col" class='remove-on-mobile '>Owner</th>
                <th scope="col" class='remove-on-mobile'># of Tracks</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="playlist in usersCurrentPlayLists">
                <td>
                  <div class="check"></div>
                  <input type="checkbox" ng-click="userSelectsPlaylist( playlist )"></input>
                </td>
                <td>{{ playlist.name }}
                    <div>
                      <span class="owner-name text-truncate">by {{ playlist.ownerName }}</span>
                      <span class="length">{{ playlist.length }}</span>
                    </div>
                </td>
                <td class='remove-on-mobile'>{{ playlist.ownerName }}</td>
                <td class='remove-on-mobile'>{{ playlist.length }}</td>
              </tr>
            </tbody>
          </table>
          </div>
          </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="accordion card">
          <div class="card-header">
            <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#column2">
              <h3 class="section-header">Playlists to Mix</h3>
            </button>
          <div class="card-body collapse" id="column2">
          <table class="table table-hover table-dark">
            <thead>
              <tr>
                <th scope="col">Playlist Name</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="y in selectedPlayLists">
                <td>{{ y.name }}</td>
              </tr>
            </tbody>
          </table>
          </div>
          </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="accordion card">
          <div class="card-header">
            <button class="btn btn-primary collapsed" type="button" data-toggle="collapse" data-target="#column3">
                <h3 class="section-header">New Mixed Playlist</h3>
            </button>
          </div>
          <div class="card-body collapse" id="column3">
          <table class="table table-hover table-dark">
            <thead>
              <tr>
                <th scope="col">Track Name</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="z in newMixedPlaylist">
                <td>{{ z.name }}</td>
              </tr>
            </tbody>
          </table>
          </div>
          </div>
        </div>
      </div>
    </div>


    <!--bootstrap-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
  </body>
</html>